<!DOCTYPE html>
<html>
<head>
    <title>Pebble Settings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/jquery.mobile-1.4.5.min.css" />
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/jquery.mobile-1.4.5.min.js"></script>
</head>
<body data-role="page">
    <div data-role="header"><h1>Pebble Settings</h1></div>
    <div role="main" class="ui-content">
        <p>App Name: <%= appName %></p>
        <p>Device ID: <%= deviceID %></p>
        <p>说明: 上海证券的股票代码前加“sh”，如“sh600000”；深圳证券的股票代码前加“sz”，如“sz000001”。</p>
        <form action="form" method="get">
            <table>
                <tr><td>股票代码1：<input type="text" name="stockCode1" value="<%= stockCode1 %>"></td></tr>
                <tr><td>股票代码2：<input type="text" name="stockCode2" value="<%= stockCode2 %>"></td></tr>
            </table>
            <input type="hidden" name="appName" value="<%= appName %>">
            <input type="hidden" name="deviceID" value="<%= deviceID %>">
            <input type="submit" value="保存">
        </form>
        <script>
            if("<%= shouldClose %>"=="true") {
                document.write('prepare to close the settings page...');
                //document.write('<p>pebblejs://close#'+'<%= settingsData %></p>');
                document.location = 'pebblejs://close#' + '<%= settingsData %>';
            }
        </script>
        <img src="images/RobinDonateQR.png" alt="我的支付宝捐款二维码，欢迎向我捐款，支持我把应用做得更好，谢谢！">
    </div>
    <div data-role="footer"><h4>Developed by Robin Kam</h4></div>
</body>
</html>