<!DOCTYPE html>
<html>
<head>
    <title>Pebble Settings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/jquery.mobile.min.css" />
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.mobile.min.js"></script>
    <script>
        $(document).ready(function(){
            if('<%= shouldAutoRefresh%>'=='false'){
                $('#autoRefreshSwitch').prop('checked', false);
                $('#autoRefreshSwitch').flipswitch( "refresh" );
                $('.divSlider').hide();
            }else{
                $('#autoRefreshSwitch').prop('checked', true);
                $('#autoRefreshSwitch').flipswitch( "refresh" );
                $('.divSlider').show();
            }
            if('<%= shouldAutoWakeUp%>'=='false'){
                $('#autoWakeUpSwitch').prop('checked', false);
                $('#autoWakeUpSwitch').flipswitch( "refresh" );
            }else{
                $('#autoWakeUpSwitch').prop('checked', true);
                $('#autoWakeUpSwitch').flipswitch( "refresh" );
            }
            $('#autoRefreshSwitch').change(function(e){
//                console.log($('#autoRefreshSwitch'));
                var isSwitchOn = $('#autoRefreshSwitch').prop('checked');
                if(isSwitchOn)
                    $('.divSlider').show();
                else
                    $('.divSlider').hide();
            });
        });
    </script>
</head>
<body data-role="page">
    <div data-role="header"><h1>Pebble Settings</h1></div>
    <div role="main" class="ui-content">
        <p>App Name: <%= appName %></p>
        <!--<p>Device ID: <%= deviceID %></p>-->
        <p>说明: 上海证券的股票代码前加“sh”，如“sh600000”；深圳证券的股票代码前加“sz”，如“sz000001”。</p>
        <p>如果是指数，请在代码前加上“s_”，比如上证指数的代码为“s_sh000001”，深圳成指的代码为“s_sz399001”</p>
        <form name="mainForm" action="form" method="post">
            <table>
                <tr><td>股票代码1：<input type="text" name="stockCode" value="<%= stockCodes[0] %>"></td></tr>
                <tr><td>股票代码2：<input type="text" name="stockCode" value="<%= stockCodes[1] %>"></td></tr>
                <tr><td>股票代码3：<input type="text" name="stockCode" value="<%= stockCodes[2] %>"></td></tr>
                <tr><td>股票代码4：<input type="text" name="stockCode" value="<%= stockCodes[3] %>"></td></tr>
                <tr><td>股票代码5：<input type="text" name="stockCode" value="<%= stockCodes[4] %>"></td></tr>
                <tr><td>股票代码6：<input type="text" name="stockCode" value="<%= stockCodes[5] %>"></td></tr>
                <tr><td>股票代码7：<input type="text" name="stockCode" value="<%= stockCodes[6] %>"></td></tr>
                <tr><td>股票代码8：<input type="text" name="stockCode" value="<%= stockCodes[7] %>"></td></tr>
                <tr><td>股票代码9：<input type="text" name="stockCode" value="<%= stockCodes[8] %>"></td></tr>
                <tr><td>股票代码10：<input type="text" name="stockCode" value="<%= stockCodes[9] %>"></td></tr>
            </table>
            <div data-role="fieldcontain" class="divSwitch">
                <p for="autoWakeUpSwitch">自动唤醒（在沪深两市开市的时间，即周一~周五，上午9:30，下午13:00，自动打开App）</p>
                <input type="checkbox" name="shouldAutoWakeUp" id="autoWakeUpSwitch" data-role="flipswitch">
            </div>
            <div data-role="fieldcontain" class="divSwitch">
                <p for="autoRefreshSwitch">自动刷新开关（请注意：开启自动刷新后手表可能会消耗更多电量，如果不在WiFi环境下，手机也会消耗更多流量。）</p>
                <input type="checkbox" name="shouldAutoRefresh" id="autoRefreshSwitch" data-role="flipswitch">
            </div>
            <div data-role="fieldcontain" class="divSlider">
                <p for="intervalSlider">自动刷新间隔（单位：秒。请注意：间隔越短，耗电量和消耗的网络流量也会相应增加。）</p>
                <input type="range" name="autoRefreshInterval" id="intervalSlider" value="<%= autoRefreshInterval%>" min="5" max="600" step="5" data-highlight="true">
            </div>
            <input type="hidden" name="appName" value="<%= appName %>">
            <input type="hidden" name="deviceID" value="<%= deviceID %>">
            <input type="submit" value="保存" onclick="mainForm.submit()">
        </form>
        <script>
            if("<%= shouldClose %>"=="true") {
                document.write('prepare to close the settings page...');
                //document.write('<p>pebblejs://close#'+'<%= settingsData %></p>');
                document.location = 'pebblejs://close#' + '<%= settingsData %>';
            }
        </script>
        <br><br>
        <a href="mailto:robinkam008@qq.com">欢迎给我写邮件，反馈需求和问题。</a>
        <p>下面是我的支付宝捐款二维码，欢迎向我捐款，支持我把应用做得更好，谢谢！</p>
        <img src="images/RobinDonateQR.png" alt="我的支付宝捐款二维码，欢迎向我捐款，支持我把应用做得更好，谢谢！">
    </div>
    <div data-role="footer"><h4>Developed by Robin Kam</h4></div>
</body>
</html>