<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<h1>Pebble Settings Service</h1>
<h3>Developed by Robin Kam</h3>
<p>App Name: <%= appName %></p>
<p>Device ID: <%= deviceID %></p>
<form action="form" method="get">
    <table>
        <tr><td>股票代码1：<input type="text" name="stockCode1" value="<%= stockCode1 %>"></td></tr>
        <tr><td>股票代码2：<input type="text" name="stockCode2" value="<%= stockCode2 %>"></td></tr>
    </table>
    <input type="hidden" name="appName" value="<%= appName %>">
    <input type="hidden" name="deviceID" value="<%= deviceID %>">
    <input type="submit">
</form>
<script>
    if("<%= shouldClose %>"=="true") {
        document.write('prepare to close the settings page...');
        //document.write('<p>pebblejs://close#'+'<%= settingsData %></p>');
        document.location = 'pebblejs://close#' + '<%= settingsData %>';
    }
</script>
</body>
</html>